<%= form_for([@instituicao,@equipamento]) do |f| %>
  <% if @instituicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instituicao.errors.count, "erro impediu", "erros impediram") %> o equipamento de ser salvo:</h2>

      <ul>
      <% @instituicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
