<%= render 'instituicoes/menu'%>
<div id='colunaPrincipal'>
	<div id='migalhas'>
		Seu caminho: <%= link_to "Instituição", instituicao_path(@instituicao.id) %> > <%= link_to "Base", '/instituicoes/base_dados' %> > <%= link_to @equipamento.nome, instituicao_equipamento_path(@instituicao.id,@equipamento.id) %> > Editar
	</div>
	<%unless notice.nil?%>
	<p id="notice">
		<%= notice %>
	</p>
	<%end%>
	<div class='topoPagina'>
		<%= image_tag 'equipamentos.png'%> <h1>Edição de equipamento</h1>
		<div class='opcoes'>
		</div>
		<br style="clear: both;">
	</div>
	<div class="containnerBasico">
		<h2><%= image_tag 'dados.png'%>Formulário</h2>
		<br />
		<%= render 'form' %>
	</div>
</div>