<%=render '/instituicoes/menu'%>
<div id='colunaPrincipal'>
<h1><%=image_tag 'equipamentos.png'%>Equipamentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th colspan='3'>Opções</th>
  </tr>

<% @equipamentos.each do |equipamento| %>
  <tr>
    <td><%= equipamento.nome %></td>
    <td><%= link_to 'Informações', instituicao_equipamento_path(@instituicao.id,equipamento.id) %></td>
    <td><%= link_to 'Editar', edit_instituicao_equipamento_path(@instituicao.id,equipamento.id) %></td>
    <td><%= link_to 'Excluir', instituicao_equipamento_path(@instituicao.id,equipamento.id), :confirm => 'Confirma a exclusão do equipamento?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Equipamento', new_instituicao_equipamento_path(@instituicao.id) %>
</div>
<script type="text/javascript">
	selecionaMenu('equipamentos');
</script>