<%= render 'instituicoes/menu'%>
<div id='colunaPrincipal'>
	<div id='migalhas'>
		Seu caminho: <%= link_to "Instituição", instituicao_path(@instituicao.id) %> > <%= link_to "Base", '/instituicoes/base_dados' %> > <%=@equipamento.nome%>
	</div>
	<%unless notice.nil?%>
	<p id="notice">
		<%= notice %>
	</p>
	<%end%>
	<div class='topoPagina'>
		<%= image_tag 'equipamentos.png'%> <h1>Equipamento</h1>
		<div class='opcoes'>
			<%if @nivel != 1%>
			<%= button_to 'Excluir', instituicao_equipamento_path(@instituicao.id,@equipamento.id), :confirm => 'Confirma a exclusão do equipamento?', :method => :delete %>
			<%end%>
		</div>
		<br style="clear: both;">
	</div>
	<div class="containnerBasico">
		<h2><%= image_tag 'dados.png'%>Dados do equipamento</h2>
		<p>
			<b>Nome:</b>
			<%= @equipamento.nome %>
		</p>
		<br />
		<div class="opcaoDireita">
			<%= link_to 'Editar', edit_instituicao_equipamento_path(@instituicao.id,@equipamento.id) %>
		</div>
	</div>
	<div class="containnerBasico">
			<%= render '/marcas/modelos'%>
		<div class="opcaoDireita">
			<%= link_to 'Novo Modelo', new_instituicao_equipamento_modelo_path(@instituicao.id,@equipamento.id) %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$j(document).ready(function(){
		selecionaMenu('base');
		$j('input[type=submit]').button();
	});
</script> 
