<%= render 'instituicoes/menu'%>
<div id='colunaPrincipal'>
	<div id='migalhas'>
		Seu caminho: <%= link_to "Instituição", instituicao_path(@instituicao.id) %> > <%= link_to "Usuários", permissoes_path %> > Adição de usuário
	</div>
	<%unless notice.nil?%>
	<p id="notice">
		<%= notice %>
	</p>
	<%end%>
	<div class='topoPagina'>
		<%= image_tag 'usuarios.png'%> <h1>Adição de usuários à instituição</h1>
		<div class='opcoes'>
		</div>
		<br style="clear: both;">
	</div>
	<div class="containnerBasico">
		<h2><%=image_tag 'dados.png'%>Formulário</h2>
	<br />
<%= form_for(@permissao) do |f| %>
  <% if @permissao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permissao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

      <ul>
      <% @permissao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=f.hidden_field :instituicao_id%>
  <div class="field">
    <%= f.label :usuario_id, 'Usuário' %><br />
    <%= f.collection_select :usuario_id, @usuarios, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :nivel, 'Nível de acesso' %><br />
    <%= f.collection_select :nivel, Permissao.niveis, :first, :last %>
  </div>
  <br />
  <div class="actions opcaoDireita">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
</div>
<%=link_to 'Voltar', permissoes_path %>
<script type="text/javascript">
	$j(document).ready(function() {
		selecionaMenu('usuarios');
		$j("input[type=submit]").button();
	});
</script>