<%= form_for(@instituicao) do |f| %>
  <% if @instituicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instituicao.errors.count, "error") %> prohibited this instituicao from being saved:</h2>

      <ul>
      <% @instituicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_leitos, 'Número de leitos' %><br />
    <%= f.text_field :numero_leitos %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco, 'Endereço' %><br />
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :complemento %><br />
    <%= f.text_field :complemento %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.collection_select :estado, Estado.all, :sigla, :sigla %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br />
    <%= f.collection_select :cidade, @cidades, :nome, :nome%>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>

<script type="text/javascript">
	
	$j(document).ready(function(){
		function preencheCidades(sigla){
			$j('#instituicao_cidade').attr('disabled','disabled');
			$j('#instituicao_cidade').empty();
			$j.post('/instituicoes/retorna_cidades',{estado:sigla},
				function(data){
					$j('#instituicao_cidade').append(data['data']);
					$j('#instituicao_cidade').removeAttr('disabled');
				}
			);
		}
		<% if @cidades.empty? %>preencheCidades($j('#instituicao_estado').val()); <% end %>
		$j('#instituicao_numero_leitos').setMask('integer');
		$j('#instituicao_estado').change(function(){
			preencheCidades($j(this).val());	
		});
	});
</script>
