<ul id='menuLateral'>
  <li id='agenda'><%= link_to image_tag('agenda.png')+raw('<span>Agenda</span>'), '/instituicoes/agenda' %></li>
  <li id='graficos'><%= link_to image_tag('graficos.png')+raw('<span>Gráficos</span>'), '/graficos' %></li>
	<%if @nivel == 3%>
	<li id='usuarios'><%= link_to image_tag('usuarios.png')+raw('<span>Usuários</span>'), permissoes_path %></li>
	<%end%>
	<%if (2..3).include? @nivel%>
	<li id='base'><%= link_to image_tag('base.png')+raw('<span>Base</span>'), '/instituicoes/base_dados'%>
	<%end%>
	<li id='setores'><%= link_to image_tag('setores.png')+raw('<span>Setores</span>'), instituicao_setores_path(@instituicao.id) %></li>
</ul>
