<h1>Listing instituicoes</h1>

<table>
  <tr>
    <th>Numero leitos</th>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Complemento</th>
    <th>Estado</th>
    <th colspan='2'>Filhos</th>
    <th colspan='3'>Opções</th>
  </tr>

<% @instituicoes.each do |instituicao| %>
  <tr>
    <td><%= instituicao.numero_leitos %></td>
    <td><%= instituicao.nome %></td>
    <td><%= instituicao.endereco %></td>
    <td><%= instituicao.bairro %></td>
    <td><%= instituicao.cidade %></td>
    <td><%= instituicao.complemento %></td>
    <td><%= instituicao.estado %></td>
    <td><%= link_to 'Usuários', instituicao_usuarios_path(instituicao)%>
    <td><%= link_to 'Setores', instituicao_setores_path(instituicao)%>
    <td><%= link_to 'Informações', instituicao %></td>
    <td><%= link_to 'Editar', edit_instituicao_path(instituicao) %></td>
    <td><%= link_to 'Excluir', instituicao, :confirm => 'Confirma a exclusão da instituição?', :method => :delete %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Instituição', new_instituicao_path %>
