<%=render 'menu'%>
<div id='colunaPrincipal'>
<div>
	<%unless notice.nil?%><p id="notice"><%= notice %></p><%end%>
	<div class='contemBusca'>
	<%=form_tag '/itens/busca' do%>
	<%=image_tag 'busca.png'%>
	<%=text_field_tag 'patrimonio'%>
	<%=submit_tag 'Buscar item'%>
	<%end%>
	</div>
	<br style='clear:both;'>
</div>
<div class='containnerBasico meio' style='padding-bottom:0px;'>
	<h2><%=image_tag 'dados.png'%>Dados da instituição</h2>
<p>
  <b>Número leitos:</b>
  <%= @instituicao.numero_leitos %>
</p>

<p>
  <b>Nome:</b>
  <%= @instituicao.nome %>
</p>
<div class='oculto'>
<p>
  <b>Endereço:</b>
  <%= @instituicao.endereco %>
</p>
<p>
  <b>Complemento:</b>
  <%= @instituicao.complemento %>
</p>
<p>
  <b>Bairro:</b>
  <%= @instituicao.bairro %>
</p>
</div>
<p>
  <b>Cidade:</b>
  <%= @instituicao.cidade %>
</p>
<p>
  <b>Estado:</b>
  <%= @instituicao.estado %>
</p>
<%if @nivel == 3%><div class="opcaoDireita"><%= link_to 'Editar',  edit_instituicao_path%></div><%end%>
<%=image_tag 'seta.png', :class => 'setaExpande'%>
</div>
<div class='containnerBasico meio'>
<h2>Setores que você participa</h2>
	<table>
		<tr>
			<th>Nome</th>
			<th class='colunaOpcao'>Opção</td>
		</tr>
		<%@setores_do_usuario.each do |setor|%>
		<tr class='corpoTabela' id="<%=instituicao_setor_path(@instituicao.id,setor.id)%>">
			<td><%=setor.nome%></td>
			<%unless setor.responsavel_id == @usuario.id%>
			<td><button class='desassociar' id='<%=setor.id%>'>Desassociar</button></td>
			<%else%>
			<td style='text-align:center;'>-</td>
			<%end%>
		</tr>
		<%end%>
	</table>
</div>
<%unless @usuario.avisos.empty?%>
<div class='containnerBasico' style='clear:both;'>
	<h2>Notificações</h2>
	<table>
		<%@usuario.avisos.each do |aviso|%>
		<tr>
			<td style='width:30px'><div class='tipoAviso' style='background-color:<%=aviso.cor%>'>Tipo notificação</div></td>
			<td><%=aviso.conteudo%></td>
		</tr>
		<%end%>
	</table>
</div>
<%end%>
</div>
<script type="text/javascript">
$j(document).ready(function(){
	function toggleHeader()
	{
		if($j('#equipes tr td')[0] == undefined)
			{
				$j('#equipes tr th').toggle();
			}
	}
	function configuraBotoes(){
		$j(".desassociar").button().click(function(){
			$j.post('/usuarios/remover_de_setor',{setor_id: $j(this).attr('id'), usuario_id:'<%=@usuario.id%>'});
			$j(this).parent().parent().remove();
			toggleHeader();
		});
	}
	$j('.setaExpande').click(function(){
		$j('.oculto').show();	
	});	
	configuraBotoes();
	toggleHeader();	
	$j('input[type=submit]').button();
});
</script>