<h2><%=image_tag 'os.png'%>Ordens de serviço</h2>
<%unless @ordens_de_servico.empty?%>
<div>
	<div class='contemBusca'>
	<%=form_tag  do%>
	<%=image_tag 'busca.png'%>
	<%=text_field_tag 'patrimonio'%>
	<%=hidden_field_tag 'setor_id', @setor.id%>
	<%=submit_tag 'Buscar'%>
	<%end%>
	</div>
	<br style='clear:both;'>
</div>
<table>
  <tr>
    <th>Data abertura</th>
    <th>Tipo servico</th>
    <th>Tipo defeito</th>
    <th>Estado</th>
  </tr>

<% @ordens_de_servico.each do |ordem_de_servico| %>
  <tr class='corpoTabela' id='<%=ordem_de_servico_path(ordem_de_servico.id)%>'>
    <td><%= ordem_de_servico.data_abertura %></td>
    <td><%= ordem_de_servico.nome_tipo_servico %></td>
    <td><%= ordem_de_servico.nome_tipo_defeito %></td>
    <%if ordem_de_servico.data_fechamento.nil?%>
    <td>Aberta</td>
    <%else%>
    <td>Concluída em <%= ordem_de_servico.data_fechamento.strftime('%d/%m/%Y')%></td>
    <%end%>
  </tr>
<% end %>
</table>
<%end%>
<%if @nivel == 2%>
<div class="opcaoDireita"><%= link_to 'Nova Ordem de serviço', new_ordem_de_servico_path+"?setor_id=#{@setor.id}&item_id=#{@item.id}" %></div>
<%end%>

