<h2><%=image_tag 'os.png'%>Ordens de serviço</h2>
<div>
	<div class='contemBusca'>
	<%=form_tag  do%>
	<%=image_tag 'busca.png'%>
	<%=text_field_tag 'patrimonio'%>
	<%=hidden_field_tag 'setor_id', @setor.id%>
	<%=submit_tag 'Buscar'%>
	<%end%>
	</div>
	<br style='clear:both;'>
</div>
<table>
  <tr>
    <th>Data abertura</th>
    <th>Tipo servico</th>
    <th>Manutencao interna</th>
    <th>Tipo defeito</th>
  </tr>
<div id="dialog-conclusao" title="Conclusão de serviço">
	<p class="validateTips">
		Forneça os dados a seguir.
	</p>
	<%= form_tag do %>
	<%= label_tag 'custo_peca', 'Custo com peças' %><br />
	<%= text_field_tag 'custo_peca','', :class => 'custos'%><br />
	<%= label_tag 'custo_frete', 'Custo com frete' %><br />
	<%= text_field_tag 'custo_frete','', :class => 'custos'%><br />
	<%= label_tag 'custo_mao', 'Custo com mão-de-obra' %><br />
	<%= text_field_tag 'custo_mao','', :class => 'custos'%><br />
	<%= label_tag 'descricao_solucao', 'Descrição da solução' %><br />
	<%= text_area_tag 'descricao_solucao','' ,:size => '45x4' %><br />
	<%= label_tag 'status', "Estado do equipamento" %><br />
    <%= select_tag 'status', options_for_select(@opcoes_status,1) %>
	<%end%>
</div>
<% @ordens_de_servico.each do |ordem_de_servico| %>
  <tr class='corpoTabela' id='<%=orderm_de_servico_path(ordem_de_servico.id)%>'>
    <td><%= ordem_de_servico.data_abertura %></td>
    <td><%= ordem_de_servico.nome_tipo_servico %></td>
    <td><%= ordem_de_servico.manutencao_interna %></td>
    <td><%= ordem_de_servico.nome_tipo_defeito %></td>
  </tr>
<% end %>
</table>
<%if @nivel == 2%>
<div class="opcaoDireita"><%= link_to 'Nova Ordem de serviço', new_ordem_de_servico_path+"?setor_id=#{@setor_id}&item_id=#{@item_id}" %></div>
<%end%>

<script type="text/javascript">
	$j(document).ready(function() {
		var id;
		$j("#dialog-conclusao").dialog({
			autoOpen : false,
			height : 430,
			width : 350,
			modal : true,
			buttons : {
				"Fechar OS" : function() {
					$j.post('/ajax/conclui_os', {id:id, custo_peca:$j('#custo_peca').val(),custo_frete:$j('#custo_frete').val(),custo_mao:$j('#custo_mao').val(),descricao_solucao:$j('#descricao_solucao').val()}, 
					function(data) {
						if(data['erro']) {

						} else {
							location.reload(true);
						}
					});
					$j(this).dialog("close");
				}
			},
			close : function() {
				$j('#custo_peca').val("");
				$j('#custo_frete').val("");
				$j('#custo_mao').val("");
				$j('#descricao_solucao').val("");
				//updateTips(tips, 'Digite o nome e o email do responsável.');
			}
		});
		$j('.conclusao').click(function(){
			id = $j(this).attr('id');
			$j("#dialog-conclusao").dialog('open');
		});
		$j(".custos").setMask('preco');
	});

</script>
