<h1>Listing items</h1>

<table>
  <tr>
    <th>Numero serie</th>
    <th>Patrimonio</th>
    <th>Data aquisicao</th>
    <th>Status</th>
    <th>Valor aquisicao</th>
    <th>Tipo recurso</th>
    <th>Vencimento garantia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.numero_serie %></td>
    <td><%= item.patrimonio %></td>
    <td><%= item.data_aquisicao %></td>
    <td><%= item.status %></td>
    <td><%= item.valor_aquisicao %></td>
    <td><%= item.tipo_recurso %></td>
    <td><%= item.vencimento_garantia %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
