<h1>Item</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Número de série:</b>
  <%= @item.numero_serie %>
</p>

<p>
  <b>Patrimônio:</b>
  <%= @item.patrimonio %>
</p>
<p>
  <b>Marca:</b>
  <%= @item.modelo.nome_marca %>
</p>
<p>
  <b>Modelo:</b>
  <%= @item.modelo.nome %>
</p>
<p>
  <b>Data de aquisção:</b>
  <%= @item.data_aquisicao.strftime('%d/%m/%Y') %>
</p>

<p>
  <b>Status:</b>
  <%= @item.nome_status %>
</p>

<p>
  <b>Valor de aquisição:</b>
  <%= @item.valor_aquisicao %>
</p>

<p>
  <b>Tipo recurso:</b>
  <%= @item.nome_tipo_recurso %>
</p>

<p>
  <b>Vencimento da garantia:</b>
  <%= @item.vencimento_garantia.strftime('%d/%m/%Y') %>
</p>


<%= link_to 'Editar', edit_instituicao_setor_item_path(@instituicao.id,@setor.id,@item.id) %> |
<%= link_to 'Voltar', instituicao_setor_path(@instituicao.id,@setor.id) %>
