<%=render 'instituicoes/menu'%>
<div id='colunaPrincipal'>
<h1><%=image_tag 'itens.png'%>Item</h1>
<%unless notice.nil?%><p id="notice"><%= notice %></p><%end%>
<div class="containnerBasico tresQuartos">
<h2><%=image_tag 'dados.png'%>Dados do item</h2>
<div class='divide'>
<p>
  <b>Número de série:</b>
  <%= @item.numero_serie %>
</p>

<p>
  <b>Patrimônio:</b>
  <%= @item.patrimonio %>
</p>
<p>
  <b>Marca:</b>
  <%= @item.modelo.nome_marca %>
</p>
<p>
  <b>Modelo:</b>
  <%= @item.modelo.nome %>
</p>
<p>
  <b>Data de aquisção:</b>
  <%= @item.data_aquisicao.strftime('%d/%m/%Y') %>
</p>
</div>
<div class='divide'>
<p>
  <b>Status:</b>
  <%= @item.nome_status %>
</p>

<p>
  <b>Valor de aquisição:</b>
  <%= @item.valor_aquisicao %>
</p>

<p>
  <b>Tipo recurso:</b>
  <%= @item.nome_tipo_recurso %>
</p>

<p>
  <b>Vencimento da garantia:</b>
  <%= @item.vencimento_garantia.strftime('%d/%m/%Y') %>
</p>
</div>
<br style="clear: both;">
<div class="opcaoDireita"><%= link_to 'Editar', edit_instituicao_setor_item_path(@instituicao.id,@setor.id,@item.id) %></div>
</div>
<div class='containnerBasico umQuarto'>
 <%=image_tag 'modelos.png'%><br />
 <button id='manual'>Manual</button>	
</div>
<div class="containnerBasico" style="clear:both;">
	<%=render 'pedidos_servico'%>
</div>
<div class="containnerBasico">
	<%=render 'ordens_servico'%>
</div>
</div>

<script type="text/javascript">
	$j(document).ready(function(){
		selecionaMenu('setores');
		$j('input[type=submit]').button();
		$j('#manual').button();
	});
</script>
