<h1>Item</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Numero serie:</b>
  <%= @item.numero_serie %>
</p>

<p>
  <b>Patrimonio:</b>
  <%= @item.patrimonio %>
</p>
<p>
  <b>Marca:</b>
  <%= @item.modelo.nome_marca %>
</p>
<p>
  <b>Modelo:</b>
  <%= @item.modelo.nome %>
</p>
<p>
  <b>Data aquisicao:</b>
  <%= @item.data_aquisicao %>
</p>

<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<p>
  <b>Valor aquisicao:</b>
  <%= @item.valor_aquisicao %>
</p>

<p>
  <b>Tipo recurso:</b>
  <%= @item.tipo_recurso %>
</p>

<p>
  <b>Vencimento garantia:</b>
  <%= @item.vencimento_garantia %>
</p>


<%= link_to 'Editar', edit_instituicao_setor_item_path(@instituicao.id,@setor.id,@item.id) %> |
<%= link_to 'Voltar', instituicao_setor_path(@instituicao.id,@setor.id) %>
