<%= form_for [@instituicao,@marca] do |f| %>
  <% if @instituicao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instituicao.errors.count, "erro impediu", "erros impediram") %> a marca de ser salva:</h2>

      <ul>
      <% @instituicao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.check_box :e_nacional %><%= f.label :e_nacional, 'Marca nacional' %>
  </div>
  <div class="actions opcaoDireita">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
<script type="text/javascript">
	$j(document).ready(function() {
		selecionaMenu('base');
		$j("input[type=submit]").button();
	});
</script>