<h2><%=image_tag 'modelos.png'%>Modelos</h2>
<%unless @modelos.empty?%>
	<table>
	  <tr>
	    <th>Nome</th>
	    <th>Equipamento</th>
	    <th>Marca</th>
	  </tr>
	
	<% @modelos.each do |modelo| %>
	  <tr class='corpoTabela' id="<%=instituicao_equipamento_modelo_path(@instituicao.id,modelo.equipamento_id,modelo.id)%>">
	    <td><%= modelo.nome %></td>
	    <td><%= modelo.nome_equipamento%></td>
	    <td><%= modelo.nome_marca%></td>
	  </tr>
	<% end %>
	</table>
<%end%>	
