<%= form_for(@ordem_de_servico) do |f| %>
  <% if @ordem_de_servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem_de_servico.errors.count, "error") %> prohibited this ordem_de_servico from being saved:</h2>

      <ul>
      <% @ordem_de_servico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_de_servico, 'Tipo de serviço' %><br />
    <%= f.collection_select :tipo_de_servico, OrdemDeServico.tipos_de_servico, :first, :last %>
  </div>
  
  <div id='tipoDefeito' class="field" style='display:none;'>
    <%= f.label :tipo_de_defeito, 'Tipo de defeito' %><br />
    <%= f.collection_select :tipo_de_defeito, OrdemDeServico.tipos_de_defeito, :first, :last %>
  </div>
  <div class="field">
    <%= f.label :descricao_falha, 'Descrição' %><br />
    <%= f.text_area :descricao_falha, :size => '45x10' %>
  </div>
  <div class="field">
    <%= f.check_box :manutencao_interna %><%= f.label :manutencao_interna, 'Serviço interno' %>
  </div>
  <%=f.hidden_field :instituicao_id %>
  <%=f.hidden_field :setor_id %>
  <%=f.hidden_field :item_id %>
  <%=f.hidden_field :usuario_id %>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
<script type="text/javascript">
	$j(document).ready(function(){
		$j('#ordem_de_servico_tipo_de_servico').change(function(){
			if($j(this).val() == 5)
			{
				$j('#ordem_de_servico_tipo_de_defeito').val(1);
				$j('#tipoDefeito').show();
			}
			else
			{
				$j('#ordem_de_servico_tipo_de_defeito').val(null);
				$j('#tipoDefeito').hide();
			}
		});
	});
</script>
