<h2><%=image_tag 'itens.png'%>Itens</h2>
<%unless @itens.empty?%>
<table>
  <tr>
    <th>Patrimonio</th>
    <th>Data aquisicao</th>
    <th>Status</th>
  </tr>

<% @itens.each do |item| %>
  <tr class='corpoTabela' id='<%=instituicao_setor_item_path(@instituicao.id,@setor.id,item.id)%>'>
    <td><%= item.patrimonio %></td>
    <td><%= item.data_aquisicao %></td>
    <td><%= item.nome_status %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />
