<h2><%=image_tag 'salas.png'%>Salas</h2>
<%unless @salas.empty? %>
<table>
  <tr>
    <th>Nome</th>
    <th>Localização</th>
  </tr>

<% @salas.each do |sala| %>
  <tr class='corpoTabela' id="<%=instituicao_setor_sala_path(@instituicao.id,@setor.id,sala.id)%>">
    <td><%= sala.nome %></td>
    <td><%= sala.localizacao %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />

<div class="opcaoDireita"><%= link_to 'Nova Sala', new_instituicao_setor_sala_path(@instituicao.id,@setor.id) %></div>

