<h2><%=image_tag 'pedir.png'%>Integrantes</h2>
	<table>
		<tr>
			<th>Nome</th>
			<th class='colunaOpcao'>Opção</td>
		</tr>
		<%@usuarios_do_setor.each do |usuario|%>
		<tr class='corpoTabela' id="/<%=usuario.id%>">
			<td><%=usuario.nome%></td>
			<%unless usuario.id == @setor.responsavel_id%>
			<td><button class='desassociar' id='<%=usuario.id%>'>Desassociar</button>
			<%else%>
			<td style='text-align:center'> - </td>
			<%end%>
		</tr>
		<%end%>
	</table>
<br />
<div id="dialog-usuario" title="Associar ao setor">
	<p class="validateTips">
		Escolha o usuário
	</p>
	<%= form_tag 'usuarios/adicionar_ao_setor' do%>
	<%= label_tag 'Usuário' %>
	<%= select_tag 'usuario_id', options_for_select(@usuarios), :class => "text ui-widget-content" %>
	<%= hidden_field_tag 'setor_id', @setor.id%>
	<%end%>
</div>
<%if @nivel == 3%>
<div class="opcaoDireita">
<% if @usuarios.empty? %>
	<span class='linkDesabilitado'>Adicionar</span>
<%else%>
<a id='adicionar' href='javascript:void(0)'>
	Adicionar
</a>
<%end%>
</div>
<%end%>
<script type="text/javascript">
$j(document).ready(function(){
	var setor = $j('#setor_id'),
		usuario = $j('#usuario_id');
	function toggleHeader()
	{
		if($j('#equipes tr td')[0] == undefined)
			{
				$j('#equipes tr th').toggle();
			}
	}
	function configuraBotoes(){
		$j(".desassociar").button().click(function(event){
			event.stopPropagation();
			$j.post('/usuarios/remover_de_setor',{usuario_id: $j(this).attr('id'), setor_id:'<%=@setor.id%>'});
			location.reload(true);
		});
	}
	configuraBotoes();
	toggleHeader();
	$j("#dialog:ui-dialog").dialog("destroy");
	
	$j("#dialog-usuario").dialog({
		autoOpen : false,
		height : 180,
		width : 350,
		modal : true,
		buttons : {
			"Salvar" : function() {
				$j.post('/usuarios/adicionar_ao_setor',
					{setor_id: setor.val(), usuario_id: usuario.val(), tipo:2},
					function(data){
						if(data['erro']){
							
						}else{
							//toggleHeader();
							//$j('#equipes tbody').append("<tr><td>"+data['nome']+"</td><td>"+data['email']+"</td><td><button class='desassociar' id='"+data['id']+"'>Desassociar</button></td></tr>");
							//configuraBotoes();
							location.reload(true);
						}
					});
				$j(this).dialog("close");
			},
			"Cancelar" : function() {
				$j(this).dialog("close");
			}
		},
		close : function() {
			//updateTips(tips, 'Digite o nome e o email do responsável.');
		}
	});
	$j("#adicionar").click(function() {
		$j("#dialog-usuario").dialog("open");
	});
	
});
</script>