<%=render '/instituicoes/menu'%>
<div id='colunaPrincipal'>
<h1><%=image_tag 'setores.png'%>Setores</h1>
<div class="containnerBasico">
<table>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th>Estado</th>
  </tr>

<% @setores.each do |setor| %>
  <tr class="corpoTabela" id='<%=instituicao_setor_path(@instituicao.id,setor.id) %>'>
    <td><%= setor.nome %></td>
    <td><%= setor.cidade %></td>
    <td><%= setor.estado %></td>
  </tr>
<% end %>
</table>

<div class="opcaoDireita"><%= link_to 'Novo Setor', new_instituicao_setor_path(@instituicao.id) %></div>
</div>
</div>
<script type="text/javascript">
	selecionaMenu('setores');
</script>