<%=render '/instituicoes/menu'%>
<div id='colunaPrincipal'>
<h1><%=image_tag 'setores.png'%>Setores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th colspan='3'>Opções</th>
  </tr>

<% @setores.each do |setor| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= setor.nome %></td>
    <td><%= setor.cidade %></td>
    <td><%= setor.estado %></td>
    <td><%= link_to 'Informações', instituicao_setor_path(@instituicao.id,setor.id) %></td>
    <td><%= link_to 'Editar', edit_instituicao_setor_path(@instituicao.id,setor.id) %></td>
    <td><%= link_to 'Excluir', instituicao_setor_path(@instituicao.id,setor.id), :confirm => 'Confirma exlcusão do setor?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Setor', new_instituicao_setor_path(@instituicao.id) %>
</div>
<script type="text/javascript">
	selecionaMenu('setores');
</script>