<%=render '/instituicoes/menu'%>
<div id='colunaPrincipal'>
	<h1><%=image_tag 'setores.png'%>Setor</h1>
	<div>
	<%unless notice.nil?%><p id="notice"><%= notice %></p><%end%>
	<div class='contemBusca'>
	<%=form_tag '/itens/busca' do%>
	<%=image_tag 'busca.png'%>
	<%=text_field_tag 'patrimonio'%>
	<%=hidden_field_tag 'setor_id', @setor.id%>
	<%=submit_tag 'Buscar item'%>
	<%end%>
	</div>
	<br style='clear:both;'>
</div>
	<div class='containnerBasico meio'>
	<h2><%=image_tag 'dados.png'%>Dados do setor</h2>
	<p>
	  <b>Nome:</b>
	  <%= @setor.nome %>
	</p>
	
	<p>
	  <b>Endereco:</b>
	  <%= @setor.endereco %>
	</p>
	
	<p>
	  <b>Bairro:</b>
	  <%= @setor.bairro %>
	</p>
	
	<p>
	  <b>Cidade:</b>
	  <%= @setor.cidade %>
	</p>
	
	<p>
	  <b>Estado:</b>
	  <%= @setor.estado %>
	</p>
	<div class="opcaoDireita"><%= link_to 'Editar', edit_instituicao_setor_path(@instituicao.id,@setor.id) %></div>
</div>
<div class="containnerBasico meio">
	<%=render 'usuarios'%>
</div>
<br style="clear: both;">
	<div class='containnerBasico'>
		<%=render 'itens'%>
		<div class="opcaoDireita"><%= link_to 'Novo item', new_instituicao_setor_item_path(@instituicao.id,@setor.id) %></div>
	</div>
	<div class='containnerBasico'>
	<%=render 'salas'%>
	</div>
	
</div>
<script type="text/javascript">
	$j(document).ready(function(){
		selecionaMenu('setores');
		$j('input[type=submit]').button();
	});
</script>

