<p id="notice"><%= notice %></p>
<h1>Setor</h1>
<p>
  <b>Nome:</b>
  <%= @setor.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @setor.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @setor.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @setor.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @setor.estado %>
</p>
<%= link_to 'Editar', edit_instituicao_setor_path(@instituicao.id,@setor.id) %>

<div class='containnerEquipes'>
	<%=render 'itens'%>
	<%= link_to 'Novo item', new_instituicao_setor_item_path(@instituicao.id,@setor.id) %>
</div>

<%=render 'salas'%>

<%=render 'usuarios'%>
<br /><br />
<%= link_to 'Voltar', instituicao_setores_path(@instituicao.id) %>


