<%= form_for([@instituicao,@equipamento,@modelo]) do |f| %>
  <% if @modelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modelo.errors.count, "error") %> prohibited this modelo from being saved:</h2>

      <ul>
      <% @modelo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :marca_id %><br />
    <%= f.collection_select :marca_id, @instituicao.marcas, :id, :nome %>
  </div>
  <%=hidden_field_tag 'modelo[equipamento_id]', @equipamento.id%>
  
  <div class="actions opcaoDireita">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
<script type="text/javascript">
	$j(document).ready(function() {
		selecionaMenu('base');
		$j("input[type=submit]").button();
	});
</script>
