<%= form_for [@instituicao,@usuario] do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :telefone %>(somente números)<br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :nivel %><br />
    <%= f.collection_select :nivel, Usuario.niveis[0..1], :first, :last %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	$j(document).ready(function(){
		$j('input[id=usuario_telefone]').setMask('phone');
	});
</script>
