<h1>Listing usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Nivel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nome %></td>
    <td><%= usuario.telefone %></td>
    <td><%= usuario.nivel %></td>
    <td><%= link_to 'Informações', instituicao_usuario_path(@instituicao,usuario) %></td>
    <td><%= link_to 'Edit', edit_instituicao_usuario_path(@instituicao,usuario) %></td>
    <td><%= link_to 'Destroy', instituicao_usuario_path(@instituicao,usuario), :confirm => 'Confirma exclusão de usuário?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo usuário', new_instituicao_usuario_path %>
