<h1>Usuários</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Nivel</th>
    <th colspan='3'>Opções</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= usuario.nome %></td>
    <td><%= usuario.telefone %></td>
    <td><%= usuario.nome_nivel %></td>
    <td><%= link_to 'Informações', instituicao_usuario_path(@instituicao.id,usuario.id) %></td>
    <td><%= link_to 'Editar', edit_instituicao_usuario_path(@instituicao.id,usuario.id) %></td>
    <td><%= link_to 'Excluir', instituicao_usuario_path(@instituicao.id,usuario.id), :confirm => 'Confirma exclusão de usuário?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo usuário', new_instituicao_usuario_path %>
<script type="text/javascript">
	seleciona('usuarios');
</script>
