<ul id='menuLateral'>
	<li id='criar'><%= link_to image_tag('criar.png')+raw('<span>Criar Instituição</span>'), new_instituicao_path %></li>
	<li id='pedir'><%= link_to image_tag('pedir.png')+raw('<span>Requisições</span>'), '#' %></li>
	<li id='convite'><%= link_to image_tag('convidar.png')+raw('<span>Enviar convite</span>'), '#' %></li>
</ul>
<div id='colunaPrincipal'>
<p id="notice"><%= notice %></p>
<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>
<%= link_to 'Editar',  edit_usuario_registration_path%>
<div class='containnerEquipes'>
<h2>Instituições de que você participa</h2>
	<table id='equipes'>
		<tr>
			<th>Nome</th>
			<th>Cidade</th>
			<th>Estado</th>
			<th>Nível de acesso</td>
			<th></td>
		</tr>
		<%@permissoes.each do |permissao|%>
		<tr>
			<td><%= permissao[:nome] %></td>
			<td><%= permissao[:cidade] %></td>
			<td><%= permissao[:estado] %></td>
			<td><%= permissao[:nivel] %></td>
			<td><%= link_to 'Entrar', "/usuarios/escolhe_instituicao/#{permissao[:instituicao]}", :method => :post%>
		</tr>
		<%end%>
	</table>
	<%= link_to 'Criar instituição', new_instituicao_path%>
</div>
</div>
<script type="text/javascript">
	seleciona('home');
</script>