<%if @usuario_pagina.id == @usuario.id%>
<%=render 'menu'%>
<%else%>
<%=render '/instituicoes/menu'%>
<%end%>
<div id='colunaPrincipal'>
	<%unless notice.nil?%><p id="notice"><%= notice %></p><%end%>
	<div class="containnerBasico" style="clear:both;">
		<h2><%=image_tag 'dados.png'%>
			<%if @usuario_pagina.id == @usuario.id%>
			Seus dados
			<%else%>
			Dados
			<%end%>
		</h2>
		<p>
		  <b>Nome:</b>
		  <%= @usuario_pagina.nome %>
		</p>
		
		<p>
		  <b>Telefone:</b>
		  <%= @usuario_pagina.telefone %>
		</p>
		
		<p>
		  <b>Email:</b>
		  <%= @usuario_pagina.email %>
		</p>
		<%if @usuario_pagina.id == @usuario.id%>
		<div class="opcaoDireita"><%= link_to 'Editar',  edit_usuario_registration_path%></div>
		<%end%>
	</div>
	<div class='containnerBasico'>
		<h2><%=image_tag 'instituicao.png'%>
			<%if @usuario_pagina.id == @usuario.id%>
			Instituições de que você participa
			<%else%>
			Instituições de que participa
			<%end%>
			</h2>
		<table>
			<tr>
				<th>Nome</th>
				<th>Cidade</th>
				<th>Estado</th>
				<th>Nível de acesso</td>
			</tr>
			<%@permissoes.each do |permissao|%>
			<%if @usuario_pagina.id == @usuario.id%>
			<tr class='corpoTabela' id="/usuarios/escolhe_instituicao/<%=permissao[:instituicao]%>">
			<%else%>
			<tr >
			<%end%>
				<td><%= permissao[:nome]%></td>
				<td><%= permissao[:cidade] %></td>
				<td><%= permissao[:estado] %></td>
				<td><%= permissao[:nivel] %></td>
			</tr>
			
			<%end%>
		</table>
	</div>
	<%unless @usuario_pagina.acoes.empty?%>
	<div class='containnerBasico'>
		<h2><%=image_tag 'acoes.png'%>
			<%if @usuario_pagina.id == @usuario.id%>
			Suas últimas ações
			<%else%>
			Últimas ações
			<%end%>
			</h2>
		<table>
			<%@usuario.acoes.reverse.take(15).each do |acao|%>
			<tr >
				<td><%=acao%></td>
			</tr>
			
			<%end%>
		</table>
	</div>
	<%end%>
</div>
<script type="text/javascript">
	<%if @usuario_pagina.id == @usuario.id%>
		seleciona('home');
	<%else%>
		$j(document).ready(function(){
			selecionaMenu('usuarios');
		});
	<%end%>
	
</script>
