<h1>Listing salas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Lista itens</th>
    <th>Localizacao</th>
    <th colspan='3'>Opções</th>
  </tr>

<% @salas.each do |sala| %>
  <tr class="<%= cycle('', 'alt') %>">
    <td><%= sala.nome %></td>
    <td><%= sala.lista_itens %></td>
    <td><%= sala.localizacao %></td>
    <td><%= link_to 'Informações', instituicao_setor_sala_path(@instituicao.id,@setor.id,sala.id) %></td>
    <td><%= link_to 'Editar', edit_instituicao_setor_sala_path(@instituicao.id,@setor.id,sala.id) %></td>
    <td><%= link_to 'Excluir', instituicao_setor_sala_path(@instituicao.id,@setor.id,sala.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Sala', new_instituicao_setor_sala_path(@instituicao.id,@setor.id) %>
