<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sala.nome %>
</p>

<p>
  <b>Localização:</b>
  <%= @sala.localizacao %>
</p>

<%= render '/setores/itens'%>

<%= link_to 'Mover item para essa sala', "/salas/insercao_de_item?setor_id=#{@setor.id}&sala_id=#{@sala.id}"%><br /><br />

<%= link_to 'Editar', edit_instituicao_setor_sala_path(@instituicao.id,@setor.id,@sala.id) %> |
<%= link_to 'Voltar', instituicao_setor_path(@instituicao.id,@setor.id) %>
