<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @sala.nome %>
</p>

<p>
  <b>Localização:</b>
  <%= @sala.localizacao %>
</p>


<%= link_to 'Editar', edit_instituicao_setor_sala_path(@instituicao.id,@sala.id,@sala.id) %> |
<%= link_to 'Voltar', instituicao_setor_salas_path %>
