<!DOCTYPE html>
<html>
<head>
  <title>Tcc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
	var $j = jQuery.noConflict();
	
	$j(document).ajaxSend(function(e, xhr, options) {
		var token = $j("meta[name='csrf-token']").attr("content");
		xhr.setRequestHeader("X-CSRF-Token", token);
	});
	
	$j(document).ready(function(){
		$j('.containnerBasico table tr.corpoTabela').click(function(){
			window.location = $j(this).attr('id');
		});
	});

	function seleciona(valor)
	{
		$j('#'+valor).addClass('selecionado');
		texto = $j('#'+valor+' a').text();
		$j('#'+valor+' a').remove();
		$j('#'+valor).append(texto);
	}
	</script>
</head>
<body>
<div id='topo'>
	<%=image_tag 'logo.png', :id => 'logo'%><span id='sgm'>SGM</span><span id="web">web</span>
	<ul id='menu'>
		<li id='home'><%=image_tag 'usuario.png', :size=>'24x24'%><%= link_to @usuario.nome, "/#{@usuario.id}" %></li>
		<li id='sair'><%=image_tag 'sair.png', :size=>'24x24'%><%= link_to 'Sair', destroy_usuario_session_path, :method => :delete %></li>
	</ul>
	<br style="clear:both;">
</div>
<%unless @instiuicao.nil? or @instituicao.nome.nil? or @controlador == 'usuarios' %>
	<div id='instituicao'>
		<a href='<%=instituicao_path(@instituicao.id)%>'><%=image_tag 'instituicao.png'%><h1 id='nomeInstituicao'>Instituição <%=@instituicao.nome%></h1></a>
		<br style="clear:both;" />
	</div>
<%end%>
<%= yield %>

</body>
</html>
