<!DOCTYPE html>
<html>
<head>
  <title>Tcc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
	var $j = jQuery.noConflict();
	
	$j(document).ajaxSend(function(e, xhr, options) {
		var token = $j("meta[name='csrf-token']").attr("content");
		xhr.setRequestHeader("X-CSRF-Token", token);
	});

	function seleciona(valor)
	{
		elemento = document.getElementById(valor);
		filho = elemento.firstChild;
		texto = filho.innerHTML;
		elemento.innerHTML = texto;
		elemento.className = 'selecionado';
	}
	</script>
</head>
<body>
<div id='containerMenu'>
	<ul id='menu'>
		<li id='usuarios'><%= link_to 'Usuários', instituicao_usuarios_path(@instituicao.id) %></li>
		<li id='equipamentos'><%= link_to 'Equipamentos', equipamentos_path %></li>
		<li id='setores'><%= link_to 'Setores', instituicao_setores_path(@instituicao.id) %></li>
	</ul>
</div>
<%= yield %>

</body>
</html>
